.nav-item{
    text-align: center;
}
.head-btn a{
    margin:0px 7px;
    padding:10px 23px;
}
.icons:hover{
   font-size: 2px;
}
.card-sec{
    transform: translateY(0);
    margin: 30px 0;
}
.client{
    height: auto;
  }
  .price{
      height: auto;
  }
  .foot-section{
    height: auto;
  }
  .fo{
    float:left;
    text-align: left;
  }